<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.account.dao.SDictMapper">

    <resultMap id="BaseColumns" type="com.account.account.model.SDict">
        <id property="code" column="code"></id>
        <result property="name" column="name"></result>
        <result property="orderNumber" column="order_number"></result>
    </resultMap>

    <select id="getSDictList" resultType="com.account.account.model.SDict">
        SELECT *
        FROM s_dict
    </select>

    <insert id="addSDict" parameterType="com.account.account.model.SDict">
        INSERT INTO s_dict(
            code,
            <if test="name != null and name != ''">name,</if>
            <if test="orderNumber != null and orderNumber != ''">order_number</if>
        ) VALUES (
            #{code},
            <if test="name != null and name != ''">#{name},</if>
            <if test="orderNumber != null and orderNumber != ''">#{orderNumber}</if>
        )
    </insert>

    <update id="updSDict" parameterType="com.account.account.model.SDict">
        UPDATE s_dict
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="orderNumber != null and orderNumber != ''">order_number = #{orderNumber}</if>
        </set>
        WHERE code = #{code}
    </update>

    <delete id="delSDict" parameterType="java.lang.String">
        DELETE FROM s_dict
        WHERE code = #{code}
    </delete>

    <delete id="delSDictBatch" parameterType="arraylist">
        DELETE FROM  s_dict
        WHERE code IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>